.App {
  text-align: center;
  background: url("./assets/background\ img.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.App-header {
  background-color: #010d27;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(5, 5, 5);
}

