.todo__container {
  padding: 35px;
}

.todo__content {
  width: 35%;
  background-color: #303030;
  padding: 70px 60px 90px;
  border-radius: 10px;
  position: absolute;
  right: 0px;
  margin-right: 35px; 
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

li > p {
  border: none;
  width: 15vw;
  overflow-wrap: break-word;
  padding: 7px;
  background-color: #696666;
  border-radius: 8px;
  margin-right: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

li > button {
  border: none;
  padding: 7px;
  background-color: #696666;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.todo__add > input {
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 10px;
  background-color: #696666;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 220px;
}

.todo__add > button {
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 7px;
  width: 50px;
  background-color: #696666;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.todo__add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.todo__itemlist{
    display: flex;
    align-items: center;
    justify-content: center;
}

::placeholder{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
